<header class="header clearfix">
  <nav>
      <ul class="nav nav-pills float-right">
          <li class="nav-item">
              <button type="button" class="btn btn-primary">
                Home
              </button>
          </li>
          <li class="nav-item">
              <button #addPost type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
                Add
              </button>
          </li>
          <li class="nav-item">
              <button (click)="logout()" type="button" class="btn btn-link">
                Logout
              </button>
          </li>
      </ul>
  </nav>
  <h3 class="text-muted">Blog List</h3>
</header>

<main role="main">
  <app-blog></app-blog>
  <app-add-post></app-add-post>
</main>

<footer class="footer">
  <p>&copy; Company 2018</p>
</footer>